@using Hec.Entities
@model Hec.Web.Areas.Admin.Controllers.TipModel

@{
    ViewBag.Title = "Title";
    ViewBag.BodyClass = "skin-blue sidebar-mini appliance-store";
    ViewBag.ActiveClass = "tips";
}

<section class="content-header">
    <h1>
        Edit Tips
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><span class="fa fa-home"></span></a></li>
        <li>@Html.ActionLink("Tips", "Index", "Tips")</li>
        <li class="active"> @Html.ActionLink("Edit Tips", "Edit", "Tips")</li>

    </ol>
</section>


<section class="content">
    <div class="row">
        <div class="col-sm-8">
            <div class="box">
                <div class="box-body">
                    @using (Html.BeginForm("Edit", "Tips", FormMethod.Post))
                    {
                        @Html.Partial("_Editable", Model)
                    }
                </div>
           </div>
      </div>
   </div>
</section>

