
@{
    ViewBag.Title = "Index";
    ViewBag.BodyClass = "skin-blue sidebar-mini bill-info";
    ViewBag.ContainerClass = "bill-info-add";
    ViewBag.ActiveClass = "home";
}

<div class="header-title">
    <span class="icon-home-content"></span>
    <span class="details">
        <span class="title-big">My billing info</span>
        <span class="desc">Add new account or view your current bill usage</span>
    </span>
</div>
<div class="box-white">
    <div class="padding-20">
        <div class="icon-rumah">
            <div class="value-wrapper">
                <p class="value-text">RM75.65</p>
                <p><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></p>
            </div>
        </div>
        <div class="info-title">Mahligai Sutera</div>
    </div>
    <div class="quicklink-info">
        <a href="#"><span class="icon-hec icon-billing-info"></span><span class="info-text">Billing Info</span><span class="icon-info-arrow"></span></a>
        <a href="energy-usage-calculator.html"><span class="icon-hec icon-bill-appliance-store"></span><span class="info-text">Energy Usage Calculator</span><span class="icon-info-arrow"></span></a>
        <a href="#"><span class="icon-hec icon-edit-account"></span><span class="info-text">Edit Account</span><span class="icon-info-arrow"></span></a>
    </div>
</div>
<div class="box-white">
    <div class="addnew">
        <a href="bill-info-4.html">
            <span class="icon-text">Add new account</span>
            <span class="icon-add-new"></span>
        </a>
    </div>
</div>