<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>    
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AccountInformationReq_OutBinding"/>
        <binding name="AccountInformationReq_OutBinding1">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://bcrmpiqci.hq.tnb.com.my:50100/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=HEC_3RD000_Q&amp;receiverParty=&amp;receiverService=&amp;interface=AccountInformationReq_Out&amp;interfaceNamespace=urn%3Atnb.com.my%3ABCRM%3Apo%3AHEC%3ACS%3AAccountInformation%3A1.0" binding="basicHttpBinding" bindingConfiguration="AccountInformationReq_OutBinding" contract="BcrmServices.AccountInformationReq_Out" name="HTTP_Port"/>
      <endpoint address="https://bcrmpiqci.hq.tnb.com.my:50101/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=HEC_3RD000_Q&amp;receiverParty=&amp;receiverService=&amp;interface=AccountInformationReq_Out&amp;interfaceNamespace=urn%3Atnb.com.my%3ABCRM%3Apo%3AHEC%3ACS%3AAccountInformation%3A1.0" binding="basicHttpBinding" bindingConfiguration="AccountInformationReq_OutBinding1" contract="BcrmServices.AccountInformationReq_Out" name="HTTPS_Port"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
