
@{
    ViewBag.Title = "Index";
    ViewBag.BodyClass = "skin-blue sidebar-mini bill-calculator";
    ViewBag.ActiveClass = "appliance-calculator";
}

<div id="view-container"></div>

<script id="view-template" type="text/x-kendo-template">
    <div class="header-title">
        <span class="icon-calculator-content"></span>
        <span class="details">
            <span class="title-big">Single Appliance Calculator</span>
            <span class="desc">Calculate electricity consumption for an appliance.</span>
        </span>
    </div>
    <div class="box-white">
        <!-- appear result dummy -->
        <div class="result-calculate-wrapper">
            <div class="icon-text">Saving Analysis</div>
            <table style="max-width:610px; width:100%;" class="table-default summary-tbl">
                <tr>
                    <td class="col-sm-3 summary-box  summary-box-orange">
                        <span style="font-size:16px;">Estimated Usage Per Day (kWh)</span>
                        <br />
                        <span style="font-size:24px;font-weight:bold;" data-bind="text: data.usageperday_app1">00.00 kWh</span>&nbsp;
                    </td>
                    <td class="col-sm-3 summary-box summary-box-purple">
                        <span style="font-size:16px;">Estimated Charge Per Day (RM)</span>
                        <br />
                        <span style="font-size:24px;font-weight:bold;" data-bind="text: data.app1_estdaycost">RM 00.00</span>&nbsp;
                    </td>
                    <td class="col-sm-3 summary-box">
                        <span style="font-size:16px;">Estimated Charge Per Month (RM)</span>
                        <br />
                        <span style="font-size:24px;font-weight:bold;" data-bind="text: data.app1_estmonthlycost">RM 00.00</span>&nbsp;
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <small>("Per Day" referring to 30 days calculation)</small>
                    </td>
                </tr>
            </table>
        </div>
        <!-- appear result dummy -->
        <table style="max-width:610px; width:100%;" class="table-default">
            <thead>
                <tr style="background-color: \\#445cd9;">
                    <th colspan="2" style="text-align:center;font-weight:normal;color:white;">Single Appliance Calculator</th>
                </tr>
            </thead>
        </table>

        <table style="max-width:610px; width:100%;" class="table-default">
            <tr>
                <td>Usage Per Day (Hours)</td>
                <td><input type="number" value="0" min="0" max="24" step="1" name="appliancelabel-1" data-bind="value: data.usageperday" class="input_number"></td>
            </tr>
            <tr>
                <td>Number of Days Used Per Month (Days)</td>
                <td><input type="number" value="0" min="0" max="31" step="1" name="price-1" data-bind="value: data.numdayspermonth" class="input_number"></td>
            </tr>
            <tr>
                <td>Average Cost Per kWh (RM/kWh)</td>
                <td>
                    <input type="number" value="0.3976" min="0" step="0.01" name="watt-1" data-bind="value: data.effcostperkwh" class="input_number">
                    @*<br />*@
                    @*<i style="font-size:10px;">Average selling price based on national grid is 31.66 cent/kWh</i>*@
                </td>
            </tr>
            <tr>
                <td>Wattage (Watt)</td>
                <td><input type="number" value="0" min="0" step="1" name="app1_wattage" data-bind="value: data.app1_wattage" class="input_number"></td>
            </tr>
            <tr>
                <td colspan="2" style="background-color: white;">
                    <div class="hec-input-button" style="margin: 0 auto">
                        <a class="button-red calculate-all" href="javascript:;" data-bind="click: calculate">Calculate</a>
                    </div>
                </td>
            </tr>
        </table>

        <table style="max-width:610px; width:100%;" class="table-default">
            <thead>
                <tr>
                    <th colspan="2" style="text-align:left;font-weight:normal;color:black;text-transform:none;">
                        Note:
                        <ol>
                            <li>The calculation is not based on the tariff block for domestic customer</li>
                            <li>‘Average Cost per kWh’ default value is based on the quarterly average selling price of electricity to  domestic customer</li>
                            <li>The number of average days used is 30 days</li>
                            <li>The results should be used as indication only and may vary based on age of appliance, the latest technology and other factors</li>

                        </ol>
                    </th>
                </tr>
            </thead>
        </table>

    </div>


</script>

@section Scripts
{
    <script>
        $(function () {
            var viewModel = kendo.observable({

                data: {
                    usageperday: 0,
                    numdayspermonth: 0,
                    expectedyears: 0,
                    effcostperkwh: 0.3976,

                    app1: 0,
                    app1_price: 0,
                    app1_wattage: 0,
                },

                calculate: function () {
                    $('.result-calculate-wrapper').hide();

                    var d = this.get("data");

                    var estmonthlycost_app1 = ((d.app1_wattage * d.usageperday * d.numdayspermonth) / 1000) * d.effcostperkwh;
                    var estyearlycost_app1 = ((d.app1_wattage * d.usageperday * 365) / 1000) * d.effcostperkwh;
                    var estdaycost_app1 = (((d.app1_wattage * d.usageperday * d.numdayspermonth) / 1000) * d.effcostperkwh) / 30;
                    var esthourcost_app1 = ((((d.app1_wattage * d.usageperday * d.numdayspermonth) / 1000) * d.effcostperkwh) / 30) / 24;

                    var ttlcostownership_app1 = (estyearlycost_app1 * d.expectedyears) + parseFloat(d.app1_price);

                    var usageperday_app1 = ((d.app1_wattage * d.usageperday * d.numdayspermonth) / 1000) / 30;

                    this.set("data.app1_estmonthlycost", kendo.toString(estmonthlycost_app1, "n"));
                    this.set("data.app1_estyearlycost", kendo.toString(estyearlycost_app1, "n"));

                    this.set("data.app1_estdaycost", kendo.toString(estdaycost_app1, "n"));
                    this.set("data.app1_esthourcost", kendo.toString(esthourcost_app1, "n"));

                    this.set("data.app1_ttlcostownership", kendo.toString(ttlcostownership_app1, "n"));

                    this.set("data.usageperday_app1", kendo.toString(usageperday_app1, "n"));

                    $('html, body').animate({
                        scrollTop: $(".result-calculate-wrapper").offset().top
                    }, 200);

                    $('.result-calculate-wrapper').show("slow");
                }

            });

            var view = new kendo.View("view-template", {
                model: viewModel,
                evalTemplate: true,
                show: function (e) {
                    // Validate max min input
                    $(".input_number").change(function () {
                        var max = parseInt($(this).attr('max'));
                        var min = parseInt($(this).attr('min'));
                        if ($(this).val() > max) {
                            $(this).val(0);
                            alert("Please enter a valid number");
                            return false;
                        }
                        else if ($(this).val() < min) {
                            $(this).val(0);
                            alert("Please enter a valid number");
                            return false;
                        }
                        if ($(this).val() === "") {
                            $(this).val(0);
                            alert("Please enter a valid number");
                            return false;
                        }
                    });
                }
            });

            view.render("#view-container");
        });
    </script>
}
