<body class="one-page" data-target=".single-menu" data-spy="scroll" data-offset="200">

    <div class="body">
        <header id="header" class="single-menu flat-menu transparent valign font-color-light" data-plugin-options='{"stickyEnabled": true, "stickyBodyPadding": false}'>
            <div class="container">
                <div class="logo">
                    <a href="@(Url.Action("Index", "Home", new { area = "" }))" class="logo">
                        <img alt="Porto" width="111" height="54" data-sticky-width="82" data-sticky-height="40" src="~/Images/logo-hec.png">
                    </a>
                </div>
                <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="navbar-collapse nav-main-collapse collapse">
                <div class="container">
                    <ul class="social-icons">
                        <li class="dribbble"><a href="https://www.mytnb.com.my/" target="_blank" title="MyTNB Customer Portal">MyTNB</a></li>
                        <li class="digg"><a href="https://www.tnb.com.my/" target="_blank" title="TNB Website">TNB Website</a></li>
                    </ul>

                    <nav class="nav-main mega-menu">
                        <ul class="nav nav-pills nav-main" id="mainMenu">
                            <li class="active">
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/Public/UsageCalculator">Energy Usage Calculator </a>
                            </li>
                            <li>
                                <a href="/Public/EnergyTips">Energy Tips </a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="/Public/ApplianceComparison">Appliance Calculator <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Public/ApplianceComparison/SingleAppliance">Single Appliance</a></li>
                                    <li><a href="/Public/ApplianceComparison/CompareAppliance">Compare Appliances</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <div role="main" class="main">
            <div class="slider-container slider-container-fullscreen">
                <div class="slider" id="revolutionSliderFullScreen" data-plugin-revolution-slider data-plugin-options='{"fullScreen": "on"}'>
                    <ul>

                        <li data-transition="fade" data-slotamount="10" data-masterspeed="300">
                            <img src="~/Images/features/BG_Features.jpg" data-fullwidthcentering="on" alt="">

                            <div class="tp-caption sft stb visible-lg"
                                 data-x="467"
                                 data-y="160"
                                 data-speed="300"
                                 data-start="1000"
                                 data-easing="easeOutExpo"><img src="~/Images/slides/slide-title-border.png" alt=""></div>

                            <div class="tp-caption top-label lfl stl"
                                 data-x="center" data-hoffset="0"
                                 data-y="160"
                                 data-speed="300"
                                 data-start="500"
                                 data-easing="easeOutExpo">EXPLORE</div>

                            <div class="tp-caption sft stb visible-lg"
                                 data-x="667"
                                 data-y="160"
                                 data-speed="300"
                                 data-start="1000"
                                 data-easing="easeOutExpo"><img src="~/Images/slides/slide-title-border.png" alt=""></div>

                            <div class="tp-caption main-label sft stb"
                                 data-x="center" data-hoffset="0"
                                 data-y="180"
                                 data-speed="300"
                                 data-start="1500"
                                 data-easing="easeOutExpo">HEC FEATURES</div>

                            <div class="tp-caption bottom-label sft stb"
                                 data-x="center" data-hoffset="0"
                                 data-y="240"
                                 data-speed="500"
                                 data-start="2000"
                                 data-easing="easeOutExpo">Check out our new features.</div>


                        </li>



                    </ul>
                </div>
            </div>


        </div>

        <br /><br />
        <div class="container" style="display:none;">

            <div class="row center">
                <div class="col-md-12">
                    <h1 class="short word-rotator-title" style="font-size:22px;">
                        Your Best <b>Advisor </b>for
                        <strong class="inverted" data-appear-animation="bounceIn">
                            <span class="word-rotate" data-plugin-options='{"delay": 2000}'>
                                <span class="word-rotate-items">
                                    <span>Energy Usage Calculator</span>
                                    <span>Energy Saving Tips</span>
                                    <span>Appliance Calculator</span>
                                </span>
                            </span>
                        </strong>
                    </h1>
                    <p class="featured lead" style="font-size:20px;">
                        Since you’re at the heart of everything we do, we’d like to lighten the load by helping you save with useful energy efficiency tips.
                        Everything to help you save and be more efficient, while being greener and kinder to the earth.
                    </p>
                </div>
            </div>

        </div>

        <section style=" ">
            <div class="container">
                <div class="row center">
                    <div class="col-md-4">
                        <img src="~/Images/features/savingtips_01.jpg" style="float:left;" />
                    </div>
                    <div class="col-md-8">
                        <h1 class="short word-rotator-title" style="font-size:20px;padding-top:80px;">
                            Your Best <b>Advisor </b>for
                            <strong class="inverted" data-appear-animation="bounceIn">
                                <span class="word-rotate" data-plugin-options='{"delay": 2000}'>
                                    <span class="word-rotate-items">
                                        <span>Energy Usage Calculator</span>
                                        <span>Energy Saving Tips</span>
                                        <span>Appliance Calculator</span>
                                    </span>
                                </span>
                            </strong>
                        </h1>
                        <p class="featured lead" style="font-size:18px;">
                            Since you’re at the heart of everything we do, we’d like to lighten the load by helping you save with useful energy efficiency tips.Everything to help you save and be more efficient, while being greener and kinder to the earth.
                        </p>
                    </div>
                </div>
            </div>
            <hr class="tall" />
        </section>

        <section style="background: url('/Images/features/Features_001.jpg') no-repeat;background-position:100%;background-size:70%; height:573px;">
            <div class="container">
                <div class="row center">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <h3 class="short " style="float:left;font-size:24px;color:#000;text-align:left;text-transform:none;line-height:1.5;">
                                How to <b style="font-style:italic;">reduce</b> your <b style="color:#09599b;">Monthly Energy Consumption?</b><br />
                                Let us guide you using our Appliance Calculator.
                            </h3>
                        </div>
                        <br /><br /><br />
                        <img src="~/Images/features/greendashboard_01.png" style="float:left;margin-left:-30px;" />

                    </div>
                </div>
            </div>
        </section>

        <section class="parallax" data-stellar-background-ratio="0.5" style="background-image: url('/Images/features/Features_002.jpg');background-position: 0% 30px;height:669px;">
            <div class="container">
                <div class="row center">
                    <div class="col-md-12">
                        <h3 class="short " style="float:right;font-size:24px;color:#000;text-align:right;text-transform:none;line-height:1.5;">
                            <b style="color:#09599b;">Compare with Friends</b> Energy Usage<br />
                            Share your Energy Saving Tips.
                        </h3>
                    </div>
                </div>
            </div>
        </section>

        <section style="background-image: url('/Images/features/Features_003.jpg');height:663px;">
            <div class="container">
                <div class="row center">
                    <div class="col-md-12">
                        <br /><br />
                        <h3 class="short " style="font-size:24px;color:#000;text-transform:none;line-height:1.5;">
                            Get updates on your Billing Info.<br />
                            <b>Register</b> with <a href="https://www.mytnb.com.my/" target="_blank" style="text-decoration:none;"><b style="color:#d0182a">myTNB</b></a> now!
                        </h3>
                    </div>
                </div>
            </div>
        </section>

    </div>
</body>
